@layer components {
    /* start top header components */
    .navbar-nav {
        @apply z-10 transition-all duration-200 ease-in-out supports-[backdrop-filter]:bg-light/60 supports-[backdrop-filter]:backdrop-blur dark:supports-[backdrop-filter]:bg-gray-700/60;
    }
    .horizontal .navbar-nav {
        @apply shadow;
    }
    .primary-header {
        @apply flex items-center justify-between px-6 py-3;
    }
    .navbar-fixed {
        @apply dark--text sticky top-0;
    }
    .vertical .navbar-fixed.scrollable,
    .collapsible .navbar-fixed.scrollable {
        @apply mx-6;
    }
    .vertical .navbar-fixed.scrollable .primary-header,
    .collapsible .navbar-fixed.scrollable .primary-header {
        @apply rounded-bl-lg rounded-br-lg shadow-md;
    }
    .header-icon {
        @apply dark--text relative flex items-center p-1.5 text-xs font-medium;
        @apply rounded-lg border border-gray-200 bg-white hover:bg-gray-100 dark:bg-dark;
        @apply dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-white;
    }
    .navbar-hidden,
    .horizontal .sidebar-toggle {
        @apply hidden;
    }
    /* start user menu components */
    .user-menu-item {
        @apply px-4;
    }
    .user-menu-link {
        @apply flex items-center justify-between px-4 py-2 text-sm;
        @apply dark--text rounded-md hover:text-primary-600;
        @apply w-full hover:bg-light hover:dark:bg-dark-700;
    }
    .language-dropdown {
        @apply absolute left-0 -m-40 hidden w-40 space-y-2 rounded-md bg-white px-2 py-4 shadow-xl group-hover:block dark:bg-dark;
    }
    .language-dropdown-item {
        @apply dark--text flex items-center rounded-md px-4 py-2 hover:bg-light hover:text-primary-600;
        @apply hover:dark:bg-dark-700 dark:hover:text-gray-300;
    }
}
