# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.lockb

node_modules
.DS_Store
dist
build
dist-ssr
dev-dist
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.eslintrc-auto-import.json
auto-imports.d.ts
auto-imports.json
components.d.ts
vite.config.js.*