@layer components {
    .vertical .horizontal-menu,
    .collapsible .horizontal-logo,
    .vertical .horizontal-logo,
    .horizontal .toggle-sidebar {
        @apply hidden;
    }

    .horizontal-menu {
        @apply hidden items-center border-t border-gray-200 px-6 py-1.5 font-semibold dark:border-gray-600 lg:flex lg:space-x-1.5 xl:space-x-8 rtl:space-x-reverse;
    }

    .horizontal .horizontal-logo,
    .vertical.toggle-menu .horizontal-logo {
        @apply flex;
    }
    .horizontal-logo svg {
        @apply h-9 w-9;
    }
    .vertical.toggle-menu .horizontal-logo {
        @apply ml-4;
    }

    .horizontal .nav-item a div:first-child svg {
        @apply h-5 w-5 text-[#0e172680];
    }

    .dark .horizontal .nav-item a div:first-child svg,
    .dark.horizontal .nav-item a div:first-child svg,
    .horizontal .dark .nav-item a div:first-child svg {
        @apply text-[#ffffff80];
    }

    .horizontal-menu .nav-link {
        @apply flex items-center justify-between rounded-lg px-2 py-2.5 hover:bg-gray-400 dark:hover:bg-gray-700;
    }

    .horizontal-menu .nav-link {
        @apply hover:bg-primary-100 hover:text-primary xl:px-4;
    }

    .horizontal-menu .nav-link.active {
        @apply bg-primary-100 text-primary dark:bg-gray-700 dark:hover:text-primary;
    }

    .horizontal-menu ul.twd--menu {
        @apply absolute top-full z-20 hidden min-w-[180px] rounded bg-white py-3 shadow dark:bg-gray-800;
    }

    .horizontal-menu ul.twd--menu .twd--menu-item {
        @apply flex items-center justify-between px-4 py-2 font-normal text-gray-700 hover:bg-primary-100 hover:text-primary dark:text-gray-400 hover:dark:bg-gray-700 dark:hover:text-gray-100;
    }

    .horizontal-menu ul.twd--menu .active {
        @apply text-primary dark:hover:text-primary;
    }

    .horizontal-menu > li.nav-item:hover > ul.twd--menu,
    .horizontal-menu > li.nav-item > ul.twd--menu > li:hover > ul {
        @apply block;
    }

    .vertical.toggle-sidebar .collapse-icon,
    .vertical.toggle-sidebar .horizontal-logo {
        @apply flex;
    }
}
