@layer components {
    /* tables */
    table.tw-table {
        @apply w-full border-collapse;
    }

    table.tw-table thead tr th,
    table.tw-table tbody tr th,
    table.tw-table tbody tr td,
    table.tw-table tfoot tr th,
    table.tw-table tfoot tr td {
        @apply border-b border-gray-300 px-2 py-1.5 dark:border-gray-800 !important;
    }

    table.tw-table tfoot tr th,
    table.tw-table thead tr th,
    table.tw-table tbody tr th {
        @apply font-semibold !important;
    }
    table.tw-table tbody tr:last-child td,
    table.tw-table tfoot tr:last-child td,
    table.tw-table tbody tr:last-child th {
        @apply border-gray-100 dark:border-gray-800 !important;
    }
    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        @apply bg-gray-200 dark:bg-gray-700 !important;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        @apply bg-gray-100 dark:bg-gray-800;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        @apply bg-gray-100 !important;
    }
    .table-bordered tbody tr td,
    .table-bordered tfoot tr th,
    .table-bordered thead tr th {
        @apply border border-gray-300 dark:border-gray-700 !important;
    }
}
