@layer components {
    /* dark theme */
    .dark {
        color-scheme: dark;
    }
    .dark--text {
        @apply text-gray-700 dark:text-[#6D7993];
    }
    .loading {
        @apply fixed inset-0 z-50 flex items-center justify-center;
        @apply bg-gray-700/50 text-white backdrop-blur;
    }
    .twilight {
        @apply dark--text flex h-screen bg-light-gray dark:bg-dark-secondary;
    }
    .twilight-body {
        @apply flex flex-1 flex-col overflow-y-auto overflow-x-hidden transition-all duration-300;
    }
    .collapsible-vertical .twilight-body {
        @apply lg:pl-[70px];
    }
    .twilight-content {
        @apply relative mx-auto px-6 pb-4 pt-2 dark:text-gray-300 md:pt-4;
        @apply h-full bg-[url('/images/mask.svg')] after:absolute after:top-0 after:left-0 after:z-0 after:w-full;
        @apply bg-light-gray [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,0.6))] dark:bg-dark-secondary;
    }

    .text-10 {
        font-size: 0.625rem !important;
    }
    .text-11 {
        font-size: 0.688rem !important;
    }
    .text-13 {
        font-size: 0.813rem !important;
    }
    .text-15 {
        font-size: 0.938rem !important;
    }
    .text-16 {
        font-size: 1rem !important;
    }
    .text-17 {
        font-size: 1.063rem !important;
    }
    .text-19 {
        font-size: 1.188rem !important;
    }
    .text-21 {
        font-size: 1.313rem !important;
    }
    .text-22 {
        font-size: 1.375rem !important;
    }
}
