@layer components {
    .btn {
        @apply flex items-center rounded-md border px-4 py-2 text-center text-sm font-medium transition-all duration-300 ease-in-out dark:border-gray-700;
    }
    .btn-primary {
        @apply bg-primary text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-300;
        @apply dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-900;
    }
    .btn-secondary {
        @apply bg-secondary text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-900;
    }
    .btn-success {
        @apply bg-success text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300;
        @apply dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900;
    }
    .btn-danger {
        @apply bg-danger text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300;
        @apply dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }
    .btn-warning {
        @apply bg-warning text-white hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-300;
        @apply dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-900;
    }
    .btn-info {
        @apply bg-info text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300;
        @apply dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900;
    }
    .btn-light {
        @apply bg-gray-200 text-gray-800 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-900;
    }
    .btn-dark {
        @apply bg-gray-800 text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-300;
    }
    .btn-outline-primary {
        @apply border border-primary text-primary hover:bg-primary hover:text-white focus:outline-none focus:ring-2 focus:ring-primary-300;
        @apply dark:border-primary-600 dark:hover:bg-primary-600 dark:hover:text-white dark:focus:ring-primary-900;
    }
    .btn-outline-secondary {
        @apply border border-secondary text-secondary hover:bg-secondary hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-900;
    }
    .btn-outline-success {
        @apply border border-success text-success hover:bg-success hover:text-white focus:outline-none focus:ring-2 focus:ring-green-300;
        @apply dark:border-green-600 dark:hover:bg-green-600 dark:hover:text-white dark:focus:ring-green-900;
    }
    .btn-outline-danger {
        @apply border border-danger text-danger hover:bg-danger hover:text-white focus:outline-none focus:ring-2 focus:ring-red-300;
        @apply dark:border-red-600 dark:hover:bg-red-600 dark:hover:text-white dark:focus:ring-red-900;
    }
    .btn-outline-warning {
        @apply border border-warning text-warning hover:bg-warning hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-300;
        @apply dark:border-yellow-600 dark:hover:bg-yellow-600 dark:hover:text-white dark:focus:ring-yellow-900;
    }
    .btn-outline-info {
        @apply border border-info text-info hover:bg-info hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-300;
        @apply dark:border-blue-600 dark:hover:bg-blue-600 dark:hover:text-white dark:focus:ring-blue-900;
    }
    .btn-outline-light {
        @apply border border-gray-200 text-gray-200 hover:bg-gray-200 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:border-gray-800 dark:hover:bg-gray-800 dark:hover:text-white dark:focus:ring-gray-900;
    }
    .btn-outline-dark {
        @apply border border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-300;
        @apply dark:border-gray-900 dark:hover:bg-gray-900 dark:hover:text-white dark:focus:ring-gray-900;
    }
    .btn-sm {
        @apply rounded-lg px-2.5 py-1.5 text-xs;
    }
    .btn-lg {
        @apply rounded-lg text-lg;
    }
    .btn-block {
        @apply w-full;
    }
    .btn-circle {
        @apply transition-colors duration-500 ease-in-out active:bg-gray-200;
        @apply flex h-8 w-8 cursor-pointer items-center justify-center rounded-full text-gray-400;
    }
    .btn-link {
        @apply text-primary hover:text-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-300;
        @apply dark:text-primary-600 dark:hover:text-primary-700 dark:focus:ring-primary-900;
    }

    /* disabled button */
    .btn:disabled {
        @apply cursor-not-allowed opacity-50;
    }
}
