@layer components {
    /* Form components */
    .form-group {
        @apply mb-2;
    }
    label,
    .form-label {
        @apply dark--text mb-1.5 block text-sm font-medium;
    }
    .form-input,
    .form-select,
    .form-multiselect,
    .form-textarea {
        @apply block w-full rounded-md border-gray-300 focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50;
    }
    .form-checkbox {
        @apply mr-1.5 rounded border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0;
    }
    .form-radio {
        @apply mr-1.5 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0;
    }
    .form-input.is-invalid {
        @apply border-red-500 focus:border-red-300 focus:ring focus:ring-red-200;
    }
    .form-input.is-valid {
        @apply border-green-500 focus:border-green-300 focus:ring focus:ring-green-200;
    }

    /* form input sm */
    .form-input-sm {
        @apply h-8 px-2 text-sm;
    }
    /* form input large */
    .form-input-lg {
        @apply px-2 text-2xl;
    }
    .has-success .form-input,
    .has-success .form-input,
    .has-success .form-select,
    .has-success .form-multiselect,
    .has-success .form-textarea {
        @apply border-success bg-green-100 focus:border-green-300 focus:ring focus:ring-green-200;
    }
    .has-error .form-input,
    .has-error .form-input,
    .has-error .form-select,
    .has-error .form-multiselect,
    .has-error .form-textarea {
        @apply border-danger bg-red-100 focus:border-red-300 focus:ring focus:ring-red-200;
    }
}
