@layer components {
    body:has(> .boxed-layout) {
        @apply bg-gray-50;
    }
    body:has(> .dark) {
        @apply bg-gray-900;
    }
    body:has(> .dark) {
        color-scheme: dark;
    }
    body.overflow-hidden,
    body.overflow-hidden .top-header {
        @apply pr-[17px];
    }

    /* typography */
    h1 {
        @apply text-4xl font-semibold;
    }
    h2 {
        @apply text-3xl font-semibold;
    }
    h3 {
        @apply text-2xl font-semibold;
    }
    h4 {
        @apply text-xl font-semibold;
    }
    h5 {
        @apply text-lg font-semibold;
    }
    h6 {
        @apply text-sm font-semibold;
    }

    .text-10 {
        font-size: 0.625rem !important;
    }
    .text-11 {
        font-size: 0.688rem !important;
    }
    .text-13 {
        font-size: 0.813rem !important;
    }
    .text-15 {
        font-size: 0.938rem !important;
    }
    .text-16 {
        font-size: 1rem !important;
    }
    .text-17 {
        font-size: 1.063rem !important;
    }
    .text-19 {
        font-size: 1.188rem !important;
    }
    .text-21 {
        font-size: 1.313rem !important;
    }
    .text-22 {
        font-size: 1.375rem !important;
    }
    .material-icons-outlined {
        @apply text-xl/none;
    }

    [class*='icon-[mdi-'] {
        @apply h-5 w-5 !important;
    }
}
