@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* dark theme */
    .dark--text {
        @apply text-gray-700 dark:text-[#6D7993];
    }
    .loading {
        @apply fixed inset-0 z-[9999] flex items-center justify-center bg-gray-100 supports-[backdrop-filter]:bg-light/50 supports-[backdrop-filter]:backdrop-blur-sm dark:bg-dark-700 dark:supports-[backdrop-filter]:bg-light/10;
    }
    .boxed-layout .navbar-nav,
    .boxed-layout .footer,
    .boxed-layout .tw--content {
        @apply lg:container lg:mx-auto !important;
    }
    .boxed-layout .tw--content,
    .boxed-layout .primary-header {
        @apply px-0;
    }

    .boxed-layout .navbar-nav.scrollable .primary-header {
        @apply px-6;
    }

    .tw--wrapper {
        @apply dark--text bg-light text-sm font-normal antialiased dark:bg-dark-700;
    }
    .tw--container {
        @apply relative flex min-h-screen flex-col transition-all duration-300 dark:bg-dark-700 lg:ml-64;
    }
    .expanded.tw--container {
        @apply lg:ml-[70px];
    }
    .horizontal .tw--container,
    .vertical.toggle-menu .tw--container {
        @apply lg:ml-0;
    }
    .tw--content {
        @apply relative flex-auto overflow-x-hidden bg-light px-6 pb-4 pt-2 dark:bg-dark-700 dark:text-gray-300 md:pt-4;
    }
    .tw-logo {
        @apply h-12 w-12 fill-primary;
    }
    .app-drawers {
        @apply fixed -right-[400px] bottom-0 top-0 z-[51] w-full max-w-[400px] bg-white shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-[right] duration-300 dark:bg-[#0e1726];
    }
    .customizer-shadow {
        @apply fixed inset-0 z-50 bg-[black]/60 px-4 transition-[display] supports-[backdrop-filter]:bg-light/20 supports-[backdrop-filter]:backdrop-blur;
    }
    .customizer-icon {
        @apply fixed right-0 top-[calc(50%_-_18px)] flex cursor-pointer items-center justify-center rounded-md bg-primary p-2 text-white;
    }
    .customizer-card {
        @apply mb-3 rounded-md border border-dashed border-[#e0e6ed] p-3 dark:border-[#1b2e4b];
    }
    .customizer-header {
        @apply mb-1 text-base leading-none dark:text-white;
    }
    .customizer-close {
        @apply absolute right-3 top-3 opacity-30 hover:opacity-100 dark:text-white;
    }
    .app-drawers.theme p {
        @apply dark:text-gray-300;
    }
    .hidden-checkbox {
        @apply absolute z-10 h-full w-full cursor-pointer opacity-0;
    }
    .hidden-switch {
        @apply block h-full rounded-full border-2 border-[#ebedf2] before:absolute before:bottom-1 before:left-1 before:h-4 before:w-4 before:rounded-full before:bg-[#ebedf2] before:bg-[url('/images/close.svg')] before:bg-center before:bg-no-repeat before:transition-all before:duration-300 peer-checked:border-primary peer-checked:before:left-7 peer-checked:before:bg-primary peer-checked:before:bg-[url('/images/checked.svg')];
    }

    .scroll-top {
        @apply btn btn-outline-primary fixed bottom-12 z-50 animate-pulse rounded-full p-2 duration-300 ltr:right-6 rtl:left-6;
    }

    #loader {
        display: block;
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #9370db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    #loader:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ba55d3;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }
    #loader:after {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ff00ff;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

/* added root color variable from tailwind config */
@layer base {
    :root {
        --primary: theme('colors.primary.DEFAULT');
        --primary-50: theme('colors.primary.50');
        --primary-100: theme('colors.primary.100');
        --primary-200: theme('colors.primary.200');
        --primary-300: theme('colors.primary.300');
        --primary-400: theme('colors.primary.400');
        --primary-500: theme('colors.primary.500');
        --primary-600: theme('colors.primary.600');
        --primary-700: theme('colors.primary.700');
        --primary-800: theme('colors.primary.800');
        --primary-900: theme('colors.primary.900');

        --secondary: theme('colors.secondary.DEFAULT');
        --secondary-100: theme('colors.secondary.100');
        --secondary-700: theme('colors.secondary.700');

        --success: theme('colors.success.DEFAULT');
        --success-100: theme('colors.success.100');
        --success-700: theme('colors.success.700');

        --danger: theme('colors.danger.DEFAULT');
        --danger-100: theme('colors.danger.100');
        --danger-700: theme('colors.danger.700');

        --warning: theme('colors.warning.DEFAULT');
        --warning-100: theme('colors.warning.100');
        --warning-700: theme('colors.warning.700');

        --info: theme('colors.info.DEFAULT');
        --info-700: theme('colors.info.700');

        --pink: theme('colors.pink.500');
        --indigo: theme('colors.indigo.500');
    }
}
:root:has(.dark) {
    color-scheme: dark;
}
body:has(.boxed-layout) {
    @apply bg-gray-50;
}
body:has(.dark) {
    @apply bg-gray-900;
}
body:has(.dark) {
    color-scheme: dark;
}
body.overflow-hidden,
body.overflow-hidden .navbar-nav {
    @apply pr-[17px];
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.25s ease-in-out;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animate-fade-out {
    animation: fade-out 0.3s ease-in-out;
}

[data-ripple] {
    position: relative;
    overflow: hidden;
}

[data-ripple] .ripple--container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-ripple] .ripple--container span {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: #ffffff;
    animation: ripple 1000ms;
}

/* Animations */
@keyframes ripple {
    from {
        opacity: 0.25;
        transform: scale(0.5);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}

/* customize simple bar scrollbar color */
.simplebar-scrollbar:before {
    width: 4px !important;
    background: #e2e8f0 !important;
}

/* quill editor */
.ql-snow .ql-editor {
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
}
.sortable-drag .sortable-item-card {
    transform: rotate(-5deg) !important;
}
/* sortable-ghost opacity */
.sortable-chosen.sortable-ghost {
    @apply opacity-100 !important;
}

/* range picker */
input[type='range'] {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #dee2e6;
    border: none;
    border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #009ef7;
    margin-top: -4px;
}

.dark input[type='range']::-webkit-slider-runnable-track {
    background: #1b2e4b;
}

.dark input[type='range'] {
    background-color: transparent;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']:active::-webkit-slider-thumb {
    background: #009ef7c2;
    cursor: pointer;
}

/*====================================

Typography 

====================================*/

h1 {
    @apply text-4xl font-semibold;
}
h2 {
    @apply text-3xl font-semibold;
}
h3 {
    @apply text-2xl font-semibold;
}
h4 {
    @apply text-xl font-semibold;
}
h5 {
    @apply text-lg font-semibold;
}
h6 {
    @apply text-sm font-semibold;
}

.text-10 {
    font-size: 0.625rem;
}
.text-11 {
    font-size: 0.688rem;
}
.text-13 {
    font-size: 0.813rem;
}
.text-15 {
    font-size: 0.938rem;
}
.text-16 {
    font-size: 1rem;
}
.text-17 {
    font-size: 1.063rem;
}
.text-19 {
    font-size: 1.188rem;
}
.text-21 {
    font-size: 1.313rem;
}
.text-22 {
    font-size: 1.375rem;
}
[class*='icon-[mdi-'] {
    @apply h-5 w-5;
}
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
