@layer components {
    .footer {
        @apply px-4 py-2 shadow dark:bg-dark md:flex md:items-center md:justify-between md:px-6 md:py-4;
    }
    .footer-button {
        @apply mt-3 hidden flex-wrap items-center text-sm text-gray-500 dark:text-gray-400 sm:mt-0 md:flex;
    }
    .footer-text {
        @apply flex gap-1 text-sm text-gray-500 dark:text-gray-400 sm:text-center;
    }
    .footer-fixed {
        @apply sticky bottom-0 mx-6 rounded-tl-lg rounded-tr-lg bg-white shadow-lg;
    }
    .footer-hidden {
        @apply hidden;
    }
}
