@layer components {
    .horizontal .vertical-menu {
        @apply hidden;
    }
    .vertical-menu {
        @apply fixed inset-y-0 z-30 w-64 -translate-x-full border-gray-200 duration-300 ease-in-out lg:translate-x-0;
    }
    .vertical-content {
        @apply h-full bg-white dark:bg-dark [&.semi-dark]:bg-dark;
    }
    .collapsed.vertical-menu {
        @apply translate-x-0 hover:w-64 lg:w-[70px];
    }
    .expanded.vertical-menu {
        @apply translate-x-0;
    }
    .menu-shadow {
        @apply fixed inset-0 z-20 cursor-pointer bg-black opacity-50 transition-opacity lg:hidden;
    }
    .tw-brand-logo {
        @apply relative flex h-[70px] items-center justify-between px-4 py-2;
    }
    .tw-brand-logo .tw-logo {
        @apply h-10 w-10;
    }
    .app-name {
        @apply mx-2 flex items-center text-xl font-semibold transition-transform duration-500 ease-in-out dark:text-gray-200;
    }
    .collapsed.vertical-menu:not(:hover) .app-name {
        @apply hidden;
    }
    .tw-menu-header {
        @apply dark--text relative w-full truncate p-2 text-xs font-semibold uppercase text-gray-400 after:absolute after:left-0 after:top-3 after:w-full after:bg-gray-300;
    }
    .vertical-menu .tw-menu-header .minus {
        @apply hidden;
    }
    .vertical-menu .tw-menu-header .minus,
    .collapsed.vertical-menu:not(:hover) .toggle-sidebar,
    .collapsed.vertical-menu:not(:hover) .tw-menu-header .label {
        @apply lg:hidden;
    }
    .collapsed.vertical-menu:not(:hover) .tw-menu-header .minus {
        @apply lg:inline-block;
    }
    .tw-menu-content {
        @apply h-[calc(100vh_-_80px)] overflow-y-auto overflow-x-hidden;
    }
    .vertical-menu .tw-nav-menu {
        @apply mt-2 space-y-1 px-4 pb-2;
    }
    .vertical-menu .tw-menu-link {
        @apply flex w-full items-center rounded-md p-2.5 font-normal text-gray-700 hover:bg-primary-100 hover:text-primary dark:text-gray-400 hover:dark:bg-gray-700 dark:hover:text-gray-100;
    }
    .vertical-menu .tw-menu-link.active {
        @apply bg-primary-100/75 text-primary hover:bg-primary-100 dark:bg-gray-700 dark:hover:text-primary;
    }
    .tw-link-label {
        @apply mx-2 truncate text-sm font-medium;
    }
    .vertical-menu .twd--menu {
        @apply mt-1 h-0 space-y-1 overflow-hidden transition-all duration-300 ease-in-out;
    }
    .vertical-menu .twd--menu-item {
        @apply dark--text rounded-md hover:text-gray-900 dark:hover:text-gray-100;
    }
    .menu-bullet-dot {
        @apply ml-2 mr-0.5 h-0.5 w-2 bg-gray-500;
    }
    .vertical-menu .tw-arrow {
        @apply ml-auto -rotate-90 transform transition-transform;
    }
    .tw-menu-link.active .tw-arrow {
        @apply rotate-0;
    }
    .vertical-menu .twd--link {
        @apply flex w-full items-center truncate rounded-md p-2 font-normal text-gray-700 hover:bg-primary-100 hover:text-primary dark:text-gray-400 hover:dark:bg-gray-700 dark:hover:text-primary;
    }
    .vertical-menu .twd--link:hover .menu-bullet-dot {
        @apply bg-primary;
    }
    .vertical-menu .twd--link.active {
        @apply text-primary;
    }
    /* semi dark */
    .semi-dark .app-name {
        @apply text-gray-400;
    }
    .semi-dark .twd--link {
        @apply text-gray-400;
    }
    .semi-dark .tw-menu-link {
        @apply text-gray-400 hover:bg-gray-700 hover:text-primary;
    }
    .semi-dark .tw-menu-link.active {
        @apply bg-gray-700 hover:bg-gray-700;
    }
    .semi-dark .twd--link {
        @apply hover:bg-gray-700 hover:text-primary;
    }
    .collapsed.vertical-menu:not(:hover) .tw-arrow,
    .collapsed.vertical-menu:not(:hover) .collapse-icon,
    .collapsed.vertical-menu:not(:hover) .twd--menu,
    .collapsed.vertical-menu:not(:hover) .documents-link .btn-label,
    .collapsed.vertical-menu:not(:hover) .tw-nav-menu .tw-link-label {
        @apply lg:hidden lg:opacity-0;
    }
    /* vertical menu */
    .collapsed.vertical-menu .tw-arrow,
    .collapsed.vertical-menu .twd--menu,
    .collapsed.vertical-menu .documents-link .btn-label,
    .collapsed.vertical-menu .tw-nav-menu .tw-link-label {
        @apply lg:block lg:opacity-100;
    }
    /* boxed layout */
    .boxed-layout .vertical-menu {
        @apply lg:left-auto;
    }
    .documents-button {
        @apply flex h-12 items-center;
    }
    .documents-link {
        @apply btn-primary mb-0 flex w-full items-center justify-center justify-items-end py-2;
    }
}
