@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* dark theme */
    .dark {
        color-scheme: dark;
    }
    .dark--text {
        @apply text-gray-700 dark:text-gray-300;
    }
    .loading {
        @apply fixed inset-0 z-50 flex items-center justify-center;
        @apply text-white backdrop-blur bg-black/50;
    }
    .twilight {
        @apply flex h-screen bg-light-gray dark:bg-dark-secondary dark--text;
    }
    .twilight-content {
        @apply mx-auto px-6 pb-4 pt-2 md:pt-4 dark:text-gray-300;
    }
    .top-header {
        @apply sticky top-0 z-10 flex-shrink-0 flex items-center;
        @apply justify-between mx-6 py-4 duration-200 transition-all ease-in-out;
    }
    .sticky-header {
        @apply px-4 bg-white shadow-md dark:shadow-lg dark:bg-dark-primary;
        @apply dark--text rounded-bl-lg rounded-br-lg;
        @apply supports-[backdrop-filter]:bg-light-gray/60 supports-[backdrop-filter]:backdrop-blur;
    }
    .brand-logo {
        @apply flex items-center px-4 relative pb-2 pt-[10px];
    }
    .app-name {
        @apply mx-2 text-xl font-semibold dark--text;
    }
    .header-btn {
        @apply relative p-2 flex items-center text-xs font-medium dark--text;
        @apply bg-white rounded-lg border border-gray-200 hover:bg-gray-100;
        @apply hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300;
        @apply dark:focus:ring-gray-500 dark:bg-dark-primary focus:outline-none;
        @apply dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
    }
    .menu-header {
        @apply px-5 dark--text uppercase pt-2 text-sm truncate w-full;
    }
    .sidebar {
        @apply bg-white dark:bg-dark-primary fixed inset-y-0 left-0 z-30 w-64 border-r border-gray-200;
        @apply overflow-hidden transition duration-300 transform dark:border-none;
        @apply lg:translate-x-0 lg:static lg:inset-0 transition-all ease-in-out duration-300 !important;
    }
    .sidebar-shadow {
        @apply fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden cursor-pointer;
    }
    .sidebar-close {
        @apply dark--text absolute right-2 top-2 cursor-pointer text-lg md:hidden;
    }
    .mini-sidebar .sidebar {
        @apply w-16 hover:w-64;
    }
    .nav-menu {
        @apply pl-2 py-2 pr-4;
    }
    .mini-sidebar .sidebar:not(:hover) .nav-menu {
        @apply p-2;
    }
    .nav-link {
        @apply dark--text flex items-center p-2 hover:bg-gray-200 hover:text-gray-900;
        @apply hover:dark:bg-gray-700 dark:hover:text-gray-100 rounded-md font-medium;
    }
    .nav-link.nav-link-active {
        @apply bg-gray-200 dark:bg-gray-700;
    }
    .mini-sidebar .sidebar:not(:hover) .nav-link {
        @apply mx-2 flex justify-center;
    }
    .link-label {
        @apply mx-2 truncate text-sm;
    }
    .dropdown-menu {
        @apply overflow-hidden max-h-0 duration-500 transition-all space-y-1;
    }
    .dropdown-item {
        @apply flex items-center dark--text transition-colors;
        @apply duration-200 rounded-md hover:text-gray-900 dark:hover:text-gray-100;
    }
    .dropdown-circle {
        @apply leading-[unset] text-[10px] w-6 h-6 flex items-center justify-center;
    }
    .dropdown-icon {
        @apply ml-auto transition-transform transform;
    }
    .dropdown-item-link {
        @apply nav-link truncate w-full;
    }
    .dropdown-link-active {
        @apply bg-primary text-white !important;
    }
    .user-menu-item {
        @apply px-4;
    }
    .user-menu-link {
        @apply flex justify-between items-center px-4 py-2 text-sm;
        @apply rounded-md dark--text hover:text-primary-600;
        @apply hover:bg-gray-100 hover:dark:bg-dark-secondary;
    }
    .footer {
        @apply px-6 py-4 bg-white dark:bg-dark-primary shadow md:flex md:items-center md:justify-between mt-auto;
    }
    .login-bg {
        @apply relative z-[1] w-full max-w-lg before:absolute before:bg-[url('/core/images/login-left.png')];
        @apply before:left-[-45px] before:top-[-70px] before:w-[244px] before:h-[244px] before:z-[-1];
        @apply after:absolute after:bg-[url('/core/images/login-right.png')];
        @apply after:right-[-50px] after:bottom-[-50px] after:w-[244px] after:h-[244px] after:z-[-1];
    }
    .card {
        @apply bg-white dark:bg-dark-primary rounded-md shadow-sm;
    }
    .card-header {
        @apply p-4 dark--text border-b border-gray-200 dark:border-gray-700;
    }
    .card-body {
        @apply p-4;
    }

    /* Alert components */
    .alert {
        @apply p-4 mb-4 text-sm rounded-md;
    }
    .alert-icon {
        @apply flex items-center space-x-3;
    }
    .alert-dismiss {
        @apply flex items-center justify-between space-x-3;
    }

    /* button components */
    .btn-primary {
        @apply focus:outline-none text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300;
        @apply font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-900;
    }
    .btn-circle {
        @apply active:bg-gray-200 transition-colors ease-in-out duration-200;
        @apply flex items-center justify-center rounded-full h-8 w-8 cursor-pointer text-gray-400;
    }

    /* Form components */
    .form-group {
        @apply mb-3;
    }
    .form-label {
        @apply block mb-2 text-sm font-medium dark--text;
    }
    .form-control {
        @apply bg-gray-50 border border-gray-300 dark--text text-sm rounded-lg;
        @apply focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700;
        @apply dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
        @apply focus-visible:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500;
    }
    .form-radio {
        @apply text-primary-600 focus:border-primary-400 focus:outline-none;
    }
    .form-check {
        @apply text-primary-600 border-gray-200 rounded-md focus:border-primary-600;
        @apply focus:ring focus:ring-opacity-40 focus:ring-primary-600;
    }
}

.mini-sidebar .app-name,
.mini-sidebar .menu-header,
.mini-sidebar .dropdown-icon,
.mini-sidebar .dropdown-menu,
.mini-sidebar .nav-menu .link-label,
.mini-sidebar .sidebar:hover .menu-header .mini-border {
    opacity: 0 !important;
    display: none !important;
}
.mini-sidebar .sidebar:hover .app-name,
.mini-sidebar .sidebar:hover .menu-header,
.mini-sidebar .sidebar:hover .dropdown-icon,
.mini-sidebar .sidebar:hover .dropdown-menu,
.mini-sidebar .sidebar .menu-header .mini-border,
.mini-sidebar .sidebar:hover .nav-menu .link-label {
    opacity: 1 !important;
    display: block !important;
    transition: all 0.3s ease-in-out;
}
