@layer base {
    body:has(> .boxed-layout) {
        @apply bg-gray-50;
    }
    body:has(> .dark) {
        @apply bg-gray-900;
    }
    body:has(> .dark) {
        color-scheme: dark;
    }

    /* typography */
    h1 {
        @apply text-4xl font-semibold;
    }
    h2 {
        @apply text-3xl font-semibold;
    }
    h3 {
        @apply text-2xl font-semibold;
    }
    h4 {
        @apply text-xl font-semibold;
    }
    h5 {
        @apply text-lg font-semibold;
    }
    h6 {
        @apply text-sm font-semibold;
    }

    /* tables */
    table {
        width: 100%;
        border-collapse: collapse !important;
    }

    table tfoot tr,
    table thead tr {
        @apply bg-gray-100;
    }

    .dark table tfoot tr,
    .dark table thead tr {
        @apply bg-gray-800;
    }

    table tbody tr td,
    table tfoot tr th,
    table thead tr th {
        padding: 0.75rem 1rem;
    }

    table tfoot tr th,
    table thead tr th {
        font-weight: 600;
    }

    table tbody tr {
        border-bottom-width: 1px;
        border-color: #e0e6ed66 !important;
    }

    table.table-hover tbody tr:hover {
        background-color: #e0e6ed33 !important;
    }

    .dark table.table-hover tbody tr:hover {
        background-color: #1a294166 !important;
    }

    table.table-striped tbody tr:nth-child(odd) {
        background-color: #e0e6ed33 !important;
    }

    .dark table.table-striped tbody tr:nth-child(odd) {
        background-color: #1a294166 !important;
    }
}
