[data-ripple] {
    position: relative;
    overflow: hidden;
}

[data-ripple] .ripple--container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-ripple] .ripple--container span {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: #ffffff;
    animation: ripple 1000ms;
}

/* Animations */
@keyframes ripple {
    from {
        opacity: 0.25;
        transform: scale(0.5);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}
