@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&display=swap');
@import 'material-icons/iconfont/filled.css';
@import 'material-icons/iconfont/outlined.css';

@import 'tailwindcss/base';
@import './base/custom.css';
@import 'tailwindcss/components';
/* custom components */
@import './components/base.css';
@import './components/header.css';
@import './components/vertical-menu.css';
@import './components/footer.css';
@import './components/cards.css';
@import './components/buttons.css';
@import './components/button-ripple.css';
@import './components/forms.css';
@import './components/alerts.css';
@import './components/breadcrumb.css';
@import './components/dropdown.css';

/* Start Pages */
@import './components/pages/dashboard.css';
@import './components/pages/login.css';

/* utilities */
@import 'tailwindcss/utilities';

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
/* customize simple bar scrollbar color */
.simplebar-scrollbar:before {
    width: 4px !important;
    background: #e2e8f0 !important;
}
