@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&display=swap');
@import 'material-icons/iconfont/filled.css';
@import 'material-icons/iconfont/outlined.css';

@import 'tailwindcss/base';
@import './base/custom.css';
@import 'tailwindcss/components';
/* custom components */
@import './components/base.css';
@import './components/common-ui.css';
@import './components/badges.css';
@import './components/header.css';
@import './components/vertical-menu.css';
@import './components/footer.css';
@import './components/cards.css';
@import './components/buttons.css';
@import './components/button-ripple.css';
@import './components/forms.css';
@import './components/alerts.css';
@import './components/breadcrumb.css';
@import './components/dropdown.css';

/* Start Pages */
@import './components/pages/dashboard.css';
@import './components/pages/login.css';
@import './components/pages/calenders.css';

/* utilities */
@import 'tailwindcss/utilities';

@layer utilities {
    :root {
        --color-primary: #009ef7;
    }
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
/* customize simple bar scrollbar color */
.simplebar-scrollbar:before {
    width: 4px !important;
    background: #e2e8f0 !important;
}

/* tooltip */
.tippy-box[data-theme~='primary'] {
    @apply bg-primary text-white;
}
.tippy-box[data-theme~='secondary'] {
    @apply bg-secondary text-white;
}
.tippy-box[data-theme~='success'] {
    @apply bg-success text-white;
}
.tippy-box[data-theme~='danger'] {
    @apply bg-danger text-white;
}
.tippy-box[data-theme~='warning'] {
    @apply bg-warning text-white;
}
.tippy-box[data-theme~='info'] {
    @apply bg-info text-white;
}
.tippy-box[data-theme~='dark'] {
    @apply bg-dark-primary text-white;
}

/* tooltip top */

.tippy-box[data-theme~='primary'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-primary;
}
.tippy-box[data-theme~='secondary'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-secondary;
}
.tippy-box[data-theme~='success'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-success;
}
.tippy-box[data-theme~='danger'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-danger;
}
.tippy-box[data-theme~='warning'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-warning;
}
.tippy-box[data-theme~='info'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-info;
}
.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-dark-primary;
}

/* tooltip bottom */
.tippy-box[data-theme~='primary'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-primary;
}
.tippy-box[data-theme~='secondary'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-secondary;
}
.tippy-box[data-theme~='success'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-success;
}
.tippy-box[data-theme~='danger'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-danger;
}
.tippy-box[data-theme~='warning'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-warning;
}
.tippy-box[data-theme~='info'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-info;
}
.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-dark-primary;
}

/* tooltip left */
.tippy-box[data-theme~='primary'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-primary;
}
.tippy-box[data-theme~='secondary'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-secondary;
}
.tippy-box[data-theme~='success'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-success;
}
.tippy-box[data-theme~='danger'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-danger;
}
.tippy-box[data-theme~='warning'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-warning;
}
.tippy-box[data-theme~='info'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-info;
}
.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-dark-primary;
}
/* tooltip right */
.tippy-box[data-theme~='primary'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-primary;
}
.tippy-box[data-theme~='secondary'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-secondary;
}
.tippy-box[data-theme~='success'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-success;
}
.tippy-box[data-theme~='danger'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-danger;
}
.tippy-box[data-theme~='warning'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-warning;
}
.tippy-box[data-theme~='info'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-info;
}
.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-dark-primary;
}
/* end tooltip */

/* quill editor */
.ql-snow .ql-editor {
    min-height: 200px;
    overflow: auto;
}
