@layer utilities {
    :root {
        --color-primary: #009ef7;
    }
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
[data-ripple] {
    position: relative;
    overflow: hidden;
}

[data-ripple] .ripple--container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[data-ripple] .ripple--container span {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: #ffffff;
    animation: ripple 1000ms;
}

/* Animations */
@keyframes ripple {
    from {
        opacity: 0.25;
        transform: scale(0.5);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}

/* customize simple bar scrollbar color */
.simplebar-scrollbar:before {
    width: 4px !important;
    background: #e2e8f0 !important;
}

/* tooltip */
.tippy-box[data-theme~='primary'] {
    @apply bg-primary text-white;
}
.tippy-box[data-theme~='secondary'] {
    @apply bg-secondary text-white;
}
.tippy-box[data-theme~='success'] {
    @apply bg-success text-white;
}
.tippy-box[data-theme~='danger'] {
    @apply bg-danger text-white;
}
.tippy-box[data-theme~='warning'] {
    @apply bg-warning text-white;
}
.tippy-box[data-theme~='info'] {
    @apply bg-info text-white;
}
.tippy-box[data-theme~='dark'] {
    @apply bg-dark-primary text-white;
}

/* tooltip top */

.tippy-box[data-theme~='primary'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-primary;
}
.tippy-box[data-theme~='secondary'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-secondary;
}
.tippy-box[data-theme~='success'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-success;
}
.tippy-box[data-theme~='danger'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-danger;
}
.tippy-box[data-theme~='warning'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-warning;
}
.tippy-box[data-theme~='info'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-info;
}
.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-dark-primary;
}

/* tooltip bottom */
.tippy-box[data-theme~='primary'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-primary;
}
.tippy-box[data-theme~='secondary'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-secondary;
}
.tippy-box[data-theme~='success'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-success;
}
.tippy-box[data-theme~='danger'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-danger;
}
.tippy-box[data-theme~='warning'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-warning;
}
.tippy-box[data-theme~='info'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-info;
}
.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-dark-primary;
}

/* tooltip left */
.tippy-box[data-theme~='primary'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-primary;
}
.tippy-box[data-theme~='secondary'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-secondary;
}
.tippy-box[data-theme~='success'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-success;
}
.tippy-box[data-theme~='danger'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-danger;
}
.tippy-box[data-theme~='warning'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-warning;
}
.tippy-box[data-theme~='info'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-info;
}
.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-dark-primary;
}
/* tooltip right */
.tippy-box[data-theme~='primary'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-primary;
}
.tippy-box[data-theme~='secondary'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-secondary;
}
.tippy-box[data-theme~='success'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-success;
}
.tippy-box[data-theme~='danger'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-danger;
}
.tippy-box[data-theme~='warning'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-warning;
}
.tippy-box[data-theme~='info'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-info;
}
.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-dark-primary;
}
/* end tooltip */

/* quill editor */
.ql-snow .ql-editor {
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
}
.sortable-drag .sortable-item-card {
    transform: rotate(-5deg) !important;
}
/* sortable-ghost opacity */
.sortable-chosen.sortable-ghost {
    @apply opacity-100 !important;
}
/* range picker */
input[type='range'] {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #dee2e6;
    border: none;
    border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #009ef7;
    margin-top: -4px;
}

.dark input[type='range']::-webkit-slider-runnable-track {
    background: #1b2e4b;
}

.dark input[type='range'] {
    background-color: transparent;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']:active::-webkit-slider-thumb {
    background: #009ef7c2;
    cursor: pointer;
}

/* custom file uploader  */
.custom-file-container {
    box-sizing: border-box;
    position: relative;
    display: block;
}
.custom-file-container * {
    box-sizing: border-box;
}
.custom-file-container .label-container label {
    color: #4361ee;
    font-size: 16px;
}
.custom-file-container .label-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.custom-file-container .clear-button {
    color: #333;
    font-size: 26px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.custom-file-container .clear-button:hover {
    color: #777;
}
.custom-file-container .input-container {
    display: inline-block;
    height: 40px;
    margin-bottom: 8px;
    position: relative;
    width: 100%;
}
.custom-file-container .input-container:hover {
    cursor: pointer;
}
.custom-file-container .input-hidden {
    height: 40px;
    margin: 0;
    max-width: 100%;
    min-width: 220px;
    opacity: 0;
    width: 100%;
}
.custom-file-container .input-visible {
    background-clip: padding-box;
    background-color: #f1f2f3;
    border-radius: 4px;
    border: 1px solid #f1f2f3;
    color: #333;
    height: 40px;
    left: 0;
    line-height: 1.5;
    overflow: hidden;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 5;
}
.custom-file-container .browse-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    display: block;
    height: auto;
    padding: 10px 16px;
    line-height: 1.25;
    background-color: rgba(27, 85, 226, 0.239);
    color: #4361ee;
    border-left: 1px solid #e0e6ed;
    box-sizing: border-box;
}
.custom-file-container .image-preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
    height: 300px;
    overflow: auto;
    padding: 4px;
    transition: background 0.2s ease-in-out;
    width: 100%;
    margin-top: 54px;
    margin-bottom: 40px;
}
.custom-file-container .image-preview-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.25);
    float: left;
    height: 180px;
    margin: 1.858736059%;
    position: relative;
    transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
    width: 29.615861214%;
}
.custom-file-container .image-preview-item.multi-item-clear-animation {
    opacity: 0;
}
.custom-file-container .image-preview-item-clear {
    background: #edede8;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.25);
    height: 20px;
    left: -6px;
    margin-top: -6px;
    position: absolute;
    text-align: center;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    width: 20px;
}
.custom-file-container .image-preview-item-clear:hover {
    background: #e2e2da;
    cursor: pointer;
}
.custom-file-container .image-preview-item-clear-icon {
    color: #333;
    display: block;
    margin-top: -2px;
}

/* choose js */
.choices__input {
    border-radius: 4px;
    background: transparent;
}
.icon-change .left svg.feather-heart,
.icon-change .right svg.feather-star {
    display: none;
}
.dragndrop .selected > div {
    background-color: #e0e6ed;
}

.dragndrop .sortable-swap-highlight > div {
    @apply bg-primary-400;
}

/* calender */
.fc-button.fc-button-primary,
.fc-prev-button.fc-button.fc-button-primary,
.fc-next-button.fc-button.fc-button-primary {
    @apply btn btn-outline-primary rounded-md border-primary bg-transparent duration-300 hover:border-primary focus:border-none active:bg-primary active:text-white;
}
.fc-today-button.fc-button.fc-button-primary {
    @apply btn btn-outline-primary inline-block rounded-md bg-primary text-white;
}
.fc-button.fc-button-primary.fc-button-active {
    @apply btn btn-outline-primary rounded-md !border-primary !bg-primary text-white focus:border-none active:bg-primary active:text-white;
}
