@layer components {
    /* dark theme */
    .dark--text {
        @apply text-gray-700 dark:text-[#6D7993];
    }
    .loading {
        @apply fixed inset-0 z-[9999] flex items-center justify-center;
        @apply bg-gray-300 text-gray-600 dark:bg-gray-700 dark:text-white;
    }
    .boxed-layout {
        @apply lg:container lg:mx-auto lg:shadow-lg;
    }
    .twilight {
        @apply dark--text bg-light text-sm font-normal antialiased dark:bg-dark-secondary;
    }
    .twilight-body {
        @apply relative flex min-h-screen flex-col transition-all duration-300 dark:bg-dark-secondary lg:ml-64;
        @apply bg-[url('/images/mask.svg')] [mask-image:linear-gradient(0deg,#fff,rgba(255,255,255,1))];
    }
    .collapsible:not(.toggle-menu) .twilight-body {
        @apply lg:ml-[70px];
    }
    .horizontal .twilight-body,
    .vertical.toggle-menu .twilight-body {
        @apply lg:ml-0;
    }
    .twilight-content {
        @apply relative flex-auto overflow-x-hidden bg-light px-6 pb-4 pt-2 dark:bg-dark-secondary dark:text-gray-300 md:pt-4;
    }
    .tw-logo {
        @apply h-12 w-12 fill-primary;
    }
    .app-drawers {
        @apply fixed -right-[400px] bottom-0 top-0 z-[51] w-full max-w-[400px] bg-white shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-[right] duration-300 dark:bg-[#0e1726];
    }
    .customizer-shadow {
        @apply fixed inset-0 z-50 bg-[black]/60 px-4 transition-[display] supports-[backdrop-filter]:bg-light/20 supports-[backdrop-filter]:backdrop-blur;
    }
    .customizer-button {
        @apply absolute bottom-14 right-4 flex cursor-pointer items-center justify-center rounded-md bg-primary p-2 text-white;
    }
    .customizer-card {
        @apply mb-3 rounded-md border border-dashed border-[#e0e6ed] p-3 dark:border-[#1b2e4b];
    }
    .customizer-header {
        @apply mb-1 text-base leading-none dark:text-white;
    }
    .customizer-close {
        @apply absolute right-3 top-3 opacity-30 hover:opacity-100 dark:text-white;
    }
    .app-drawers.theme p {
        @apply dark:text-gray-300;
    }
    .hidden-checkbox {
        @apply absolute z-10 h-full w-full cursor-pointer opacity-0;
    }
    .hidden-switch {
        @apply block h-full rounded-full border-2 border-[#ebedf2] before:absolute before:bottom-1 before:left-1 before:h-4 before:w-4 before:rounded-full before:bg-[#ebedf2] before:bg-[url('/images/close.svg')] before:bg-center before:bg-no-repeat before:transition-all before:duration-300 peer-checked:border-primary peer-checked:before:left-7 peer-checked:before:bg-primary peer-checked:before:bg-[url('/images/checked.svg')];
    }

    .scroll-top {
        @apply btn btn-outline-primary fixed bottom-12 z-50 animate-pulse rounded-full p-2 duration-300 ltr:right-6 rtl:left-6;
    }
}
